# Основные
fastapi
uvicorn
jinja2

# База данных
sqlalchemy
asyncpg
alembic

# Аутентификация
python-jose[cryptography]

#passlib
#bcrypt
bcrypt==4.1.2
passlib==1.7.4

# Переменные окружения
pydantic-settings
python-dotenv

# Утилиты
faker

pyjwt
email-validator
python-multipart